/* == Event Feature == */
#event-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $spacing-unit;
  gap: $spacing-unit;
  margin: 0 auto;
  padding: $spacing-unit * 1.5;

  @include media-query($on-laptop) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $spacing-unit * 2;
    gap: $spacing-unit * 2;
    padding: $spacing-unit * 3;
  }
}
#event-description,
#event-schedule {
  border: $base-border-size / 2 solid $secondary;
  padding: $spacing-unit;

  @include media-query($on-laptop) {
    max-height: 60%;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: $spacing-unit;
  }
}
.event-feature {
  background: $secondary;
  background-image: url("/uploads/green_arrow_secondary_light_144.png"),
  url("/uploads/waves_primary_144.png");
  background-position: 50% 15%, 50% 20%;
  background-repeat: no-repeat;
  height: 100%;
  height: 90vh;
  transition: background-color .25s, background-position .25s;
  padding: $spacing-unit;
  width: 100%;

  &:hover {
    background: $primary;
    background-image: url("/uploads/green_arrow_secondary_light_144.png"),
    url("/uploads/waves_primary_dark_144.png");
    background-position: 50% 15%, 50% 15%;
    background-repeat: no-repeat;
  }

}
.event-feature-header {
  text-align: center;
}
.event-logo {
  display: block;
  margin: 0 auto $spacing-unit auto;
  width: 50%;
}
.event-meta {
  margin: 0 auto;
  width: auto;
}
.event-date,
.event-location {
  background: $white;
  color: $primary-alt-dark;
  display: inline-block;
  padding: $spacing-unit / 2;
}
.event-theme {
  background: $white;
  color: $primary-alt-dark;
  display: inline-block;
  font-size: $large-heading;
  font-weight: 400;
  padding: $spacing-unit / 2;
}
.event-title {
  color: $white;
  font-size: $display-heading;
}

/* == Event Speakers == */
.speakers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  gap: 10px;
  list-style: none;
}
.speaker {

}
.speaker-name {
  font-size: $base-heading;
  margin-bottom: 0;
}
.speaker-title {
  font-size: $small-heading;
}
.speaker-photo {
  max-width: 100%;
}
