/* == Event Feature == */
#event-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $spacing-unit;
  gap: $spacing-unit;
  margin: 0 auto;
  padding: $spacing-unit * 1.5;

  @include media-query($on-laptop) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $spacing-unit * 2;
    gap: $spacing-unit * 2;
    padding: $spacing-unit * 3;
  }
}
#event-media {

  @include media-query($on-laptop) {
    grid-column: 1 / 3 ;
    grid-row: 2 ;
  }
}
#event-description,
#event-schedule {
  border-bottom: $base-border-size / 2 solid $primary-darker;
  border-top: $base-border-size / 2 solid $primary-darker;
  padding: $spacing-unit;
}

#event-schedule {
  @include media-query($on-laptop) {
    //max-height: 10%;
    //max-height: 100vh;
    //overflow-y: scroll;
    //overflow-x: hidden;
    padding: $spacing-unit;
  }
}
.event-feature {
  background: $secondary;
  background-image: url("/uploads/green_arrow_secondary_light_144.png"),
  url("/uploads/waves_primary_dark_144.png");
  background-position: -40% 15%, 50% 40%;
  background-repeat: no-repeat;
  transition: background-color .25s, background-position .25s;
  padding: $spacing-unit * 2 $spacing-unit;
  width: 100%;

  &:hover {
    background: $primary;
    background-image: url("/uploads/green_arrow_secondary_light_144.png"),
    url("/uploads/waves_primary_dark_144.png");
    background-position: 50% 15%, 50% 10%;
    background-repeat: no-repeat;
  }

}
.event-feature-header {
  text-align: center;
}
.event-logo {
  display: block;
  margin: 0 auto $spacing-unit auto;
  width: 100%;

  @include media-query($on-laptop) {
    width: 50%;
  }
}
.event-meta {
  margin: 0 auto;
  width: auto;
}
.event-date,
.event-location {
  background: $white;
  color: $primary-alt-dark;
  display: inline-block;
  padding: $spacing-unit / 2;
}
.event-theme {
  background: $white;
  color: $primary-alt-dark;
  display: inline-block;
  font-size: $large-heading;
  font-weight: 400;
  padding: $spacing-unit / 2;
}
.event-title {
  color: $white;
  font-size: $display-heading;
}
.event-cta {
  margin-top: $spacing-unit;
}
.cta-default,
.cta-register {
  background: $primary-darker;
  color: $white;
  display: inline-block;
  padding: $spacing-unit / 2;

  &:hover, &:visited {
    color: $white;
  }
  &:focus, &:hover {
    background: $primary-darker;
  }
}

/* Event Description */
#event-description {
  h1 {
    font-size: $large-heading;
  }

  h2, h3, h4, h5, h6 {
    font-size: $base-font-size;
  }

  h2, h3, h4, h5, h6 {
    color: $primary-darker;
  }
}

/* Event Schedule */
#event-schedule h1 {
  font-size: $large-heading;
}
#event-schedule h2 {
  color: $primary-darker;
  font-size: $base-heading;
  margin-bottom: 0;
}
#event-schedule h3 {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: 400;
}

/* == Event Speakers == */
.speakers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  gap: 10px;
  list-style: none;
}
.speaker {

}
.speaker-name {
  font-size: $base-heading;
  margin-bottom: 0;
}
.speaker-title {
  font-size: $small-heading;
}
.speaker-photo {
  max-width: 100%;
}

/***
  Event Partners
***/
#partners-and-sponsors {
  background: $primary-darker;
  padding-top: $spacing-unit;

  p { font-size: 70%;}
}
.event-partners {
  padding: 1em 4em;

  h1 {
    font-size: 2em;
    text-align: center;
  }
}
.partner-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $spacing-unit / 2.2;
  gap: $spacing-unit / 2.2 ;
  margin: $spacing-unit auto 0 0;
  list-style: none;

  @include media-query($on-laptop) {
    grid-template-columns: repeat(5, 1fr);
  }

  li {

    margin-bottom: 0;
    padding: $spacing-unit / 2;

    h2 {
      color: $white;
      font-size: $base-heading;
    }
    p {
      color: $white; }

  }
}
.partner-logo {
  max-width: 75%;
}
