/* == Event Feature == */
#event-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $spacing-unit;
  gap: $spacing-unit;
  margin: 0 auto;
  padding: $spacing-unit * 1.5;

  @include media-query($on-laptop) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $spacing-unit * 2;
    gap: $spacing-unit * 2;
    padding: $spacing-unit * 3;
  }
}
#event-media {

  @include media-query($on-laptop) {
    grid-column: 1 / 3 ;
    grid-row: 2 ;
  }
}
#event-description {
  padding: $spacing-unit;
}
#event-description,
#event-schedule {
  border-bottom: $base-border-size / 2 solid $primary-darker;
  border-top: $base-border-size / 2 solid $primary-darker;
}

#event-schedule {

  @include media-query($on-laptop) {
    //padding: $spacing-unit;
  }
}
.event-schedule-wrapper {
  max-height: 100vh;
  overflow-x: scroll;
  padding: $spacing-unit;
}

.event-feature {
  background: $secondary;
  padding: $spacing-unit * 2 $spacing-unit;
  width: 100%;
}
.event-feature-header {
  text-align: center;
}
.event-logo {
  display: block;
  margin: 0 auto $spacing-unit auto;
  width: 100%;

  @include media-query($on-laptop) {
    width: 50%;
  }
}
.event-meta {
  margin: 0 auto;
  width: auto;
}
.event-date,
.event-location {
  background: $white;
  color: $primary;
  display: inline-block;
  padding: $spacing-unit / 2;
}
.event-theme {
  background: $white;
  color: $primary;
  display: inline-block;
  font-size: $large-heading;
  font-weight: 400;
  padding: $spacing-unit / 2;
}
.event-title {
  color: $white;
  font-size: $display-heading;
}
.event-cta {
  margin-top: $spacing-unit;
}
.cta-default,
.cta-register {
  background-color: $primary;
  color: $white;
  display: inline-block;
  padding: $spacing-unit / 2 $spacing-unit;
  text-decoration: none;
  transition: transform ease-in-out 0.05s;

  &:hover, &:visited {
    color: $white;
  }
  &:focus, &:hover {
    //background-color: $primary-light;
    color: $secondary;
    filter: drop-shadow(0 2px 1px $primary);
    transform: translatey(-2px);
  }
}

/* Event Description */
#event-description {
  h1 {
    font-size: $large-heading;
  }

  h2, h3, h4, h5, h6 {
    font-size: $base-font-size;
  }

  h2, h3, h4, h5, h6 {
    color: $primary;
  }
}

/* Event Schedule */
#event-schedule h1 {
  font-size: $large-heading;
}
#event-schedule h2 {
  color: $primary;
  font-size: $base-heading;
  margin-bottom: 0;
}
#event-schedule h3 {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: 400;
}

/* == Event Archives == */
article.event-archive {
  flex: 100%;
  margin-bottom: $spacing-unit * 2;
  background-color: $white;
  //background-image: url("/uploads/green_arrow_secondary_light_144.png");
  background-position: -10% center;
  background-size: 70%;
  border: 1px solid darken($white, 5%);
  padding: $spacing-unit / 2;

  transition: transform ease-in-out 0.05s;


  &:hover {
    filter: drop-shadow(0 2px 1px darken($white, 20%));
    transform: translatey(-4px);
  }

  @include media-query($on-laptop) {
    flex: 45%;
    margin-right: 5%;
    margin-bottom: $spacing-unit * 2.5;
    flex-grow: 0;
  }

  header {
    background: $white;
    //margin-top: -$spacing-unit * 1.25;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    padding-bottom: $spacing-unit;
  }
}
.event-archive-title {
  color: $primary;
  font-size: $base-font-size;
  margin-bottom: $spacing-unit / 2;
}
.event-archive-theme {
  font-size: $large-heading;
  margin-bottom: $spacing-unit / 2;
}
.event-archive-date {
  margin-bottom: $spacing-unit;
}
.featured-event {
  flex: 100% !important;
  border: 1px solid darken($white, 5%) !important;

  h2 {
    font-size: 100%;
  }
  h3,
  p {
    font-size: 120%;

    @include media-query($on-laptop) {
      font-size: 140%;
    }
  }
}
.event-blurb {
  margin-top: $spacing-unit;
}

/* == Event Speakers == */
.section--speakers {
  max-width: 80%;
  margin: $spacing-unit * 3 auto;
}
.speakers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.speaker {
  flex: 100%;
  flex-grow: 0;
  padding: $spacing-unit / 2;

  @include media-query($on-laptop) {
    //flex: 33.333%;
    flex: 25%;
    flex-grow: 0;
    padding: $spacing-unit;
  }
}
.speaker-name {
  color: $primary;
  font-family: $heading-font-family;
  font-size: $base-heading;
  line-height: 1.2;
  margin-bottom: 0;
}
.speaker-title {
  font-size: $small-heading;
}
.speaker-photo {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacing-unit;
  -webkit-filter: grayscale(100%);
}

/***
  Event Partners
***/
#partners-and-sponsors {
  background: $primary;
  padding-top: $spacing-unit;

  p { font-size: 70%;}
}
.event-partners {
  padding: 1em 4em;

  h1 {
    font-size: 2em;
    text-align: center;
  }
}
.partner-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $spacing-unit / 2.2;
  gap: $spacing-unit / 2.2 ;
  margin: $spacing-unit auto 0 0;
  list-style: none;

  @include media-query($on-laptop) {
    grid-template-columns: repeat(5, 1fr);
  }

  li {

    margin-bottom: 0;
    padding: $spacing-unit / 2;

    h2 {
      color: $white;
      font-size: $base-heading;
    }
    p {
      color: $white; }

  }
}
.partner-logo {
  max-width: 75%;
}

// Description
.section--description {
  max-width: 90%;
  margin: $spacing-unit * 6 auto;

  @include media-query($on-laptop) {
    max-width: 75%;
    max-width: 800px;
  }
}

// Sesssions
.section--sessions {
  margin: $spacing-unit * 6 auto;
  max-width: 90%;

  @include media-query($on-laptop) {
    max-width: 75%;
    max-width: 800px;
  }
}
.sessions {
  list-style: none;
  margin: 0;
  padding: 0;
}
.session {
  background-color: $white;
  border: 1px solid darken($white, 10%);
  margin-bottom: $spacing-unit;
  padding: $spacing-unit / 2;
  transition: transform ease-in-out 0.05s;

  &:hover {
    filter: drop-shadow(0 2px 1px darken($white, 20%));
    transform: translatey(-4px);
  }
}
.session-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: $spacing-unit;
}
.section-title {
  color: $primary;
}
.session-title {
  color: $primary;
  font-family: $base-font-family;
  font-size: $large-heading;
  font-weight: 700;
  line-height: 1.2;

  flex: 80%;

  @include media-query($on-laptop) {
    flex: 60%;
    flex-grow: 0;
  }
}
.session-time {
  flex: 100%;

  line-height: 1.2;
  text-align: left;

  @include media-query($on-laptop) {
    flex: 20%;
    flex-grow: 0;
    text-align: center;
  }
}
.session-meta-header {
  font-family: $base-font-family;
  font-size: $base-heading;
  display: block;
}
.session-title,
.session-time {
  padding: $spacing-unit / 6;
}

.session-header + .session-meta {
  border-top: 1px solid darken($white, 5%);
  padding-top: $spacing-unit;
}
.session-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.session-moderators,
.session-speakers {
  flex: 100%;
  font-size: $small-font-size;
  padding: $spacing-unit / 6;

  @include media-query($on-laptop) {
    flex: 50%;
    flex-grow: 0;
  }
}
.session-description {
  flex: 100%;
}

.session-moderators {
  margin-bottom: $spacing-unit / 4;
}

// Event Partners
.section--partners {
  margin: $spacing-unit * 6 auto;
  max-width: 90%;

  @include media-query($on-laptop) {
    max-width: 80%;
    max-width: 1000px;
  }
}
.partners {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.partner {
  flex: 25%;
}

// Sesssions
.section--related-media {
  margin: $spacing-unit * 6 auto;
  max-width: 90%;

  @include media-query($on-laptop) {
    max-width: 80%;
    max-width: 1000px;
  }
}
.related-media {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.related-media--item {
  border: $spacing-unit / 4 solid $primary;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit / 2;
  flex: 100%;

  @include media-query($on-laptop) {
    flex: 50%;
    //flex-grow: 0;
  }
}
.related-media--description {
  width: 100%;

  @include media-query($on-laptop) {
    max-width: 600px;
  }
}
