/* Related Event Media */
.media-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    flex: 100%;
    margin-bottom: 2em;
    padding: 0 1.25em;

    @include media-query($on-laptop) {
      flex: 50%;
      flex-grow: 0;
      padding: 1em;
    }
  }
}

/* Video Gallery */
.video-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    flex: 100%;
    margin-bottom: 2em;
    padding: 0 $spacing-unit / 1.2;

    @include media-query($on-laptop) {
      flex: 50%;
      flex-grow: 0;
      padding: 1em;
    }
  }
}

.video {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.video img {
    width: 100%;
    top: -16.82%;
    left: 0;
    opacity: 0.7;
}
.video .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.video .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.video img,
.video .play-button {
    cursor: pointer;
}
.video img,
.video iframe,
.video .play-button,
.video .play-button:before {
    position: absolute;
}
.video .play-button,
.video .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.video iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    position: absolute 0 null null 0;
    height: 100%;
    width: 100%;
    background: #ccc;
  }
}
.video-meta {
  margin-top: 1em;
}
.video-title {
  font-size: $large-heading;
}
.video-excerpt {
  font-size: 70%;
}
