/* == Navigation Styles ==
      1. Primary Nav
      2. Social Nav
      3. Footer Nav
======================== */

/* == 1. Primary Nav == */
.site-header {
  background-color: $primary;
  position: relative;
  margin: 0 auto;
}
.site-nav {
  //padding: $spacing-unit / 2;
}
.site-menu {
  list-style: none;
  margin: 0;
  text-align: center;

  @include media-query($on-laptop) {
  }
}

.menu-item {
  display: block;

  @include media-query($on-laptop) {
    display: inline-block;
    margin-right: $spacing-unit;
  }
}

.menu-link {
  color: $white;
  display: block;
  font-size: $base-font-size;
  text-decoration: none;
  padding: $spacing-unit / 2;

  &:visited {
    color: $white;
  }

  &:active,
  &:hover {
    color: $secondary;
    text-decoration: underline;
  }
}

.menu-wrapper {
  display: none;

  @include media-query($on-laptop) {
    display: inline;
  }
}
.menu-wrapper.open {
  display: inline;
}
.nav-toggle {
  display: block;

  @include media-query($on-laptop) {
    display: none;
  }
}
.toggle-link {
  cursor: pointer;
}


/* == 2. Social Nav == */
.social-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-menu-item {
  display: inline-block;
  margin-right: $spacing-unit / 2;
}

.social-menu-link {
  border: 0;
  padding: $spacing-unit / 2;
  display: block;
  position: relative;
  line-height: 0;

  &:hover {
    border: 0;
  }
}
.social-menu-link svg {
  fill: $secondary;
  width: $spacing-unit * 1.2;
}
.social-menu-link {
  &:hover {
    svg {
      fill: $white;
    }
  }
}
.site-logo {
  background-color: $white;
  width: 100%;

  @include media-query($on-laptop) {
    max-width: $spacing-unit * 10;
  }

  .menu-link {
    border: none;
    display: block;
  }
}
#icons {
  display: none;
}
.footer-navigation {
  list-style: none;
  font-size: 80%;
  margin: 0 $spacing-unit;
  padding: 0 0 $spacing-unit 0;

  li {
    display: inline-block;
  }

  a {
    color: $white;
    display: block;
  }
}
