/* == Navigation Styles ==
      1. Primary Nav
      2. Social Nav
      3. Footer Nav
======================== */

/* == 1. Primary Nav == */
.site-header {
  max-width: $content-width * 1.5;
  position: relative;
  top: 0;
  z-index: 20;
  margin: 0 auto;

  @include media-query($on-laptop){
    //position: sticky;
  }

}
.site-nav {
  //background: $gray-lightest;
  padding: $spacing-unit / 2;
}

.site-menu {
  //display: grid;
  //grid-template-columns: repeat(2, 1fr);
  //grid-gap: $spacing-unit;
  //gap: $spacing-unit;
  list-style: none;
  margin: 0;
  //align-items: top;
  text-align: center;

  @include media-query($on-laptop) {
    //grid-template-columns: repeat(6, 1fr);
  }
}

.menu-item {
  display: block;

  @include media-query($on-laptop) {
    display: inline-block;
    margin-right: $spacing-unit;
  }
}

.menu-link {
  //border: none;
  text-decoration: none;
  background: $white;
  border: 6px solid #0a27c4;
  margin-bottom: $spacing-unit * 3;
  padding: $spacing-unit / 2;
  display: block;
  position: relative;
  font-size: $base-font-size * .85;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0a27c4;
    position: absolute;
    bottom: -14px;
    left: 14px;
    z-index: -1;
    border: 0;
  }

  &:hover {
    border-color: $secondary;
  }
}

.menu-wrapper {
  display: none;

  @include media-query($on-laptop) {
    display: inline;
  }
}
.menu-wrapper.open {
  display: inline;
}
.nav-toggle {
  display: block;

  @include media-query($on-laptop) {
    display: none;
  }
}
.toggle-link {
  cursor: pointer;
}


/* == 2. Social Nav == */
.social-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-menu-item {
  display: inline-block;
  margin-right: $spacing-unit / 2;
}

.social-menu-link {
  border: 0;
  background: $white;
  padding: $spacing-unit / 2;
  display: block;
  position: relative;
  line-height: 0;

  &:hover {
    border: 0;
  }
}
.social-menu-link svg {
  fill: $secondary;
  width: $spacing-unit * 1.2;
}
.social-menu-link {
  &:hover {
    svg {
      fill: $primary-darker;
    }
  }
}
.site-logo {
  //grid-column-start: 1;
  //grid-column-end: 2;
  max-width: $spacing-unit * 10;

  .menu-link {
    border: none;
    padding: 0;

    &:after {
      content: none;
    }
  }
}
#icons {
  display: none;
}
