#page-content {
  margin: $spacing-unit auto;
  padding: $spacing-unit;
  width: 95%;

  @include media-query($on-laptop) {
    width: $content-width;
  }
}

.page-header {

}

.page-title {
  display: inline-block;
  font-size: $xlarge-heading;
  padding: .5rem;
  color: $primary;
  border-bottom: 1px solid darken($white, 10%);

  @include media-query($on-laptop) {
    font-size: $display-heading;
  }

}

.page-callout {
  background-color: $secondary;
}

#frontpage-content {
  margin: $spacing-unit auto;
  max-width: 80%;
}

.frontpage-header {
  background-color: $primary-darker;
  border-right: 6px solid $white;
  border-bottom: 6px solid $white;
  margin-bottom: $spacing-unit * 3;
  padding: $spacing-unit;
  position: relative;

  &:hover {
    background-color: #6fe224;
    //background-image: url("/uploads/green_arrow_secondary_light_144.png");
    background-size: 40%;
    background-position: 50% 50%;
  }

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0a27c4;
    position: absolute;
    bottom: -30px;
    left: 30px;
    z-index: -1;
    border: 0;
  }
}
.frontpage-title {
  color: $white;
  font-size: 8vw;
  line-height: .9;
  display: inline;

  span {
    border-bottom: 24px solid #0a27c4;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
    border:0;
    margin-bottom: $spacing-unit * 2;
  }
}
.frontpage-content-block {
  background-color: $white;
  //border-left: 6px solid $white;
  //border-bottom: 6px solid $white;
  border: 6px solid #0a27c4;
  margin-bottom: $spacing-unit * 3;
  padding: $spacing-unit;
  position: relative;
  width:60%;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0a27c4;
    position: absolute;
    bottom: -30px;
    right: 30px;
    z-index: -1;
    border: 0;
  }
}
.frontpage {
  background-color: $white;
  //background-image: url("/uploads/waves_primary_dark_144.png");
  //background-position: 5% 5%;
  //background-repeat: no-repeat;
}
.content-block-grid {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: $spacing-unit * 2;
  grid-row-gap: $spacing-unit * 2;
  margin: $spacing-unit auto $spacing-unit * 5 auto;
  width: 90%;


  @include media-query($on-laptop) {
    grid-template-columns: repeat(3, 1fr);
    //grid-template-rows: auto auto auto auto;
    width: 80%;
    max-width: 1125px;
  }

}
.grid-header {

  grid-row-start: 1;
  background-color: $primary;
  border-right: 6px solid $white;
  border-bottom: 6px solid $white;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit;
  position: relative;

  @include media-query($on-laptop) {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: $spacing-unit * 2;

    &:after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: #0a27c4;
      //background-image: url("/uploads/waves_primary_dark_144.png");
      //background-size: 20%;
      position: absolute;
      bottom: -30px;
      left: 30px;
      z-index: -1;
      border: 0;
    }
  }

  &:hover {
    background-color: #6fe224;
    //background-image: url("/uploads/green_arrow_secondary_light_144.png");
    background-size: 40%;
    background-position: 50% 50%;
  }
}
.grid-title {
  color: $white;
  font-size: 160%;
  line-height: .9;
  display: inline;

  span {
    border-bottom: 24px solid #0a27c4;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
    border:0;
    margin-bottom: $spacing-unit * 2;
  }

  @include media-query($on-laptop) {
    font-size: 8vw;
  }
}
.grid-content-large {

  grid-row-start: 2;
  grid-row-end: span 2;
  background-color: $white;
  border: 6px solid $primary-darker;
  margin-bottom: $spacing-unit * 3;
  padding: $spacing-unit;
  position: relative;

  @include media-query($on-laptop){
    grid-column-start: 1;
    grid-column-end: span 2;

    &:after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: $primary-darker;
      //background-image: url("/uploads/waves_primary_dark_144.png");
      background-size: 20%;
      position: absolute;
      bottom: -30px;
      left: 30px;
      z-index: -1;
      border: 0;
    }

  }


}
.grid-content-small {
  background-color: $primary;
  border-right: 6px solid $white;
  border-bottom: 6px solid $white;
  padding: $spacing-unit;
  position: relative;

  &:nth-of-type(odd) {
    background-color: $primary;

    &:hover {
      background-color: $secondary;
    }
  }
  &:nth-of-type(even) {
    background-color: $secondary;

    &:hover {
      background-color: $tertiary;
    }
  }

  @include media-query($on-laptop) {

    &:after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: $primary-darker;
      position: absolute;
      bottom: -24px;
      left: 24px;
      z-index: -1;
      border: 0;
    }
  }
}

.content-grid {
  width: 80%;
  max-width: $on-laptop * 1.3;
  margin: $spacing-unit * 1.5 auto;
}
.content-grid-header {
  background-color: $primary;
  border-right: 6px solid $white;
  border-bottom: 6px solid $white;
  margin-bottom: $spacing-unit * 4;
  padding: $spacing-unit;
  position: relative;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0a27c4;
    position: absolute;
    bottom: -30px;
    left: 30px;
    z-index: -1;
    border: 0;
  }

  &:hover {
    background-color: #6fe224;
    background-size: 40%;
    background-position: 50% 50%;
  }
}
.content-grid-content-large {
  background-color: $white;
  border: 6px solid $primary-darker;
  margin: 0 auto $spacing-unit * 3 auto;
  padding: $spacing-unit;
  position: relative;
  width: 90%;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: $primary-darker;
    background-size: 20%;
    position: absolute;
    bottom: -30px;
    left: 30px;
    z-index: -1;
    border: 0;
  }
}

.icon-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 85%;
  max-width: $on-laptop * 1.2;
  margin: $spacing-unit auto $spacing-unit * 3 auto;
  padding: $spacing-unit;

  li {
    flex: 100%;
    background-color: $primary-darker;
    margin-bottom: 3.25rem;
    padding: $spacing-unit;

    @include media-query($on-laptop) {
      flex: 45%;
      margin-right: 5%;
      flex-grow: 0;
    }
  }
}
.icon-wrap {
  border-right: 6px solid $white;
  border-bottom: 6px solid $white;
  margin-top: -2rem;
  margin-left: -2rem;
  padding: $spacing-unit;
}
.icon-grid li:nth-of-type(odd) {
  .icon-wrap {
    background-color: $primary;

    &:hover {
      background-color: $secondary;
    }
  }
}
.icon-grid li:nth-of-type(even) {
  .icon-wrap {
    background-color: $secondary;

    &:hover {
      background-color: $tertiary;
    }
  }
}

.callout-icon {
  fill: $white;
  width: 50%;
  height: 50%;
  display: block;
  margin: auto auto $spacing-unit auto;
  //height: 8em;
  //width: 8em;
}
.callout-text {
  color: #fff;
  font-size: $base-font-size * 2;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

// Sections
