#page-content {
  margin: $spacing-unit auto;
  padding: $spacing-unit;
  width: 95%;

  @include media-query($on-laptop) {
    width: $content-width;
  }
}
.page-title {
  display: inline-block;
  font-size: $xlarge-heading;
  padding: .5rem;
  color: $primary;
  border-bottom: 1px solid darken($white, 10%);

  @include media-query($on-laptop) {
    font-size: $display-heading;
  }
}
.page-callout {
  background-color: $secondary;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
  padding: $spacing-unit * 3;
  text-align: center;
  max-width: $content-width * 2;
  margin: 0 auto;
}
.page-callout-text {
  color: $primary;
  font-size: calc(1em + 7vw);
  margin: 0 auto;
  max-width: $content-width * 2;
  text-align: left;
}
.callout-text-reversed {
  color: $white;
  display: inline-block;
  //text-transform: uppercase;

  span {
    border-bottom: 8px solid $primary;
  }
}

// frontpage styles
.frontpage-events-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  max-width: $content-width * 2;
}

.frontpage-body {
  background-color: $primary;
  color: $white;
  flex: 100%;
  padding: $spacing-unit;

  p > * {
    color: $white;
  }

  @include media-query($on-laptop) {
    flex: 35%;
    max-width: $content-width;
  }
}
.frontpage-events {
  background-color: $white;
  flex: 100%;
  padding: $spacing-unit;

  @include media-query($on-laptop) {
    flex: 65%;
  }
}
.frontpage-news {
  background-color: $secondary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: $spacing-unit;
  width: 100%;

  article {
    flex: 22%;
    margin-left: 1%;
    padding: $spacing-unit;
  }
}

.frontpage-post {
  background-color: $white;
  transition: transform ease-in-out 0.05s;
  &:hover {
    filter: drop-shadow(0 4px 1px darken($secondary, 10%));
    transform: translatey(-4px);
  }
}
.frontpage-news-endcap {
  color: $primary;
  font-weight: bold;
}
