.post-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-grid {
  .page-header {
    flex: 100%;
    margin-bottom: $spacing-unit * 2;
  }
}

article.post {
  flex: 100%;
  margin-bottom: $spacing-unit * 2;

  @include media-query($on-laptop) {
    flex: 45%;
    margin-right: 5%;
    margin-bottom: $spacing-unit * 2.5;
    flex-grow: 0;
  }
}
article.post-full-grid-width {
  flex: 100%;
}
.post-title {
  font-size: $xlarge-heading;
  margin-bottom: 0;
}
a > .post-title {
  font-size: $large-heading;
}
article.post {
  background-color: $white;
  //background-image: url("/uploads/waves_primary_dark_144.png");
  //background-position: -10% center;
  //background-size: 30%;
  //border: 6px solid $primary;
  padding: $spacing-unit / 2;
}
article.post header {
  background: $white;
  border: 1px solid darken($white, 10%);
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  padding-bottom: $spacing-unit;
  transition: transform ease-in-out 0.05s;

  &:hover {
    filter: drop-shadow(0 2px 1px darken($white, 20%));
    transform: translatey(-4px);
  }
}
.post-date {
  display: block;
  font-size: 70%;
  margin-bottom: $spacing-unit;
}
.post-category {
  //background: $primary-darker;
  //color: $white;
  color: $primary;
  font-size: 70%;
  //margin-bottom: $spacing-unit / 2;
  //padding: $spacing-unit / 2;
  padding: $spacing-unit 0 $spacing-unit $spacing-unit $spacing-unit;
  display: inline-block;
  text-transform: uppercase;
}
.post-archive-link {
  background: $primary;
  color: $white;
  display: block;
  padding: $spacing-unit;
  text-align: center;
  height: 100%;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $primary;
    background: $secondary;
  }

  &:visited {
    //color: $white;
  }

  svg {
    display: inline;
    //height: 50%;
    width: 25px;
    fill: $white;
    vertical-align: sub;

  }

}
