// Sass Variables


// Content Width
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;
$on-large: 1200px;

// Typography
$base-font-family: "KlintStd-Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$base-line-height: 1.5;

$heading-font-family: "KlintStd-Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$display-heading: $base-font-size * 3.375;
$xlarge-heading: $base-font-size * 2.25;
$large-heading: $base-font-size * 1.5;
$base-heading: $base-font-size;
$small-heading: $base-font-size * 0.667;
$xsmall-heading: $base-font-size * 0.444;
$small-font-size:  $base-font-size * 0.875;

// Spacing
$spacing-unit: 1.3rem;

// Borders
$base-border-size: 18px;

// Primary Colors
$primary: #0c26f7;
//$primary: #00b1ee;
$primary-darker: #0a20c4;
$primary-darkest: #114e66;

$primary-alt: #5764ae;
$primary-alt-dark: #3c4ca0;
$primary-alt-darkest: #2a3f99;
$primary-alt-light: #6b70a6;
$primary-alt-lightest: #787a9e;



// Secondary Color
$secondary: #6fe224;
$secondary-darkest: #49bd2f;
//$secondary-dark: #55833b;
//$secondary-darkest: #2e431d;
//$secondary-light: #b4d560;
//$secondary-lightest: #c8e09a;

// Base and Neutral Colors
$base: #212121;
$gray: #999999;
$gray-dark: #5A5A5A;
$gray-light: #ABADAF;
$gray-lighter: #E6E6E5;
$gray-lightest: #EDEDEE;
$white: #ffffff;
