<section id="partners-and-sponsors">
  <ul class="partner-list">
    <li>
      <h2>Brought to you with support from Enel</h2>
      <p>
        <a href="https://www.enel.com/">
          <img src="/assets/images/enel_logo_1c_white.png" alt="ENEL logo"></a>
      </p>
    </li>
    <li>
      <h2>Organizing Partners</h2>
      <p>LESC is co-organized by the World Business Council for Sustainable Development (WBCSD), the Sustainable Development Solutions Network (SDSN) and the ICLEI-Local Government for Sustainability (ICLEI).</p>
    </li>
    <li>
      <a href="http://www.iclei.org/">
        <img src="/assets/images/ICLEI_logo_1c_white.png" class="partner-logo" alt="ICLEI logo">
      </a>
    </li>
    <li>
      <a href="http://www.unsdsn.org/">
        <img src="/assets/images/SDSN_logo_1c_white.png" class="partner-logo" alt="SDSN logo">
      </a>
    </li>
    <li>
      <a href="http://www.wbcsd.org/">
        <img src="/assets/images/WBCSD_logo_1c_white.png" class="partner-logo" alt="WBCSD">
      </a>
    </li>
  </ul>
</section>

<script type="text/javascript">
 var customPath = "/assets/";
</script>
<script type="text/javascript" src="/assets/js/LESC-mls.js" defer></script>
