<header class="site-header" role="banner">

    <nav class="site-nav" role="navigation">
      <ul class="site-menu">
          <li class="menu-item">
            <a href="/" class="menu-link">
              <img src="/assets/images/LESC_logo.png">
            </a>
          </li>
          {% for link in site.data.navigation.site-nav %}
          <li class="menu-item">
            <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
          </li>
          {% endfor %}
          <li class="menu-item">
            <ul class="social-nav">
          {% for link in site.data.navigation.social-nav %}
              <li class="social-menu-item">
                <a href="{{ link.url }}" title="{{ link.title }}" class="social-menu-link">
                  {% include {{link.icon}} %}
                </a>
              </li>
          {% endfor %}
            </ul>
          </li>
      </ul>
    </nav>

</header>
