---
layout: default
---
{% for event in site.event %}
  {% if event.is-featured == true %}
<section class="event-feature">
  <header class="event-feature-header">

    {% if event.logo-vector-file %}
    <a href="{{ event.permalink }}">
      <img src="{{ event.logo-vector-file }}" class="event-logo" alt="{{ event.title }}">
    </a>
    {% elsif event.logo-file %}
    <img src="{{ event.logo-file }}" class="event-logo" alt="{{ event.title }}">
    {% else %}
    <h1>{{ event.title }}</h1>
    {% endif %}
    {% if event.theme %}
    <h2 class="event-theme">{{ event.theme }}</h2>
    {% endif %}

    <div class="event-meta">
      <date class="event-date">{{ event.event-date-text }}</date>
      <div class="event-location">
        {{ event.location-text }}
      </div>
    </div>

    <div class="event-cta">
      {% if event.registration-url %}
      <a href="{{ event.registration-url }}" class="cta-register">
        Register Now
      </a>
      {% endif %}
    </div>

  </header>
</section>

<section id="event-content">

  <section id="event-description">
    {{ event.content }}
  </section>

  {% if event.schedule-text %}

  {% capture words %}
    {{ event.schedule-text | number_of_words }}
  {% endcapture %}
  <section id="event-schedule">
    {{ event.schedule-text | markdownify }}
  </section>
  {% endif %}

</section>
  {% endif %}
{% endfor %}
