---
layout: default
---

<section id="page-content" class="post-grid">
  <header class="page-header">
    <h1 class="page-title">
      {{ page.title }}</a>
    </h1>
  </header>
  {% assign events = site.event | sort: 'position' %}
  {% for event in events %}
  <article class="event-archive">
    <header class="event-archive-header">
      <h2 class="event-archive-title">{{ event.title }}</h2>
      <a href="{{ event.url }}">
      <h3 class="event-archive-theme">{{ event.theme }}</h3>
      </a>
      <date class="event-archive-date">{{ event.event-date-text }}</date>
    </header>
  </article>
  {% endfor %}
</section>
