<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.collection }} {{ page.slug }}">

    {% include header.html %}

    <main role="main" class="content">
      {{ content }}
    </main>

    <section id="speakers">
      <ul>
      {% for item in page.Speakers %}
        {% assign speaker = site.speakers | where: 'title', item | first %}
        <li>
          <h1>{{ speaker.title }}</h1>
          <h2>{{ speaker['title and organization'] }}</h2>
        </li>
      {% endfor %}
      </ul>
    </section>

    {% include footer.html %}

  </body>

</html>
