---
layout: default
---

<section class="event-feature">
  <header class="event-feature-header">

    {% if page.logo-vector-file %}
    <img src="{{ page.logo-vector-file }}" class="event-logo" alt="{{ page.title }}">
    {% elsif page.logo-file %}
    <img src="{{ page.logo-file }}" class="event-logo" alt="{{ page.title }}">
    {% else %}
    <h1 class="event-title">{{ page.title }}</h1>
    {% endif %}
    {% if page.theme %}
    <h2 class="event-theme">{{ page.theme }}</h2>
    {% endif %}

    {% if page.event-date-text or page.location-text %}
    <div class="event-meta">
      <date class="event-date">
        {{ page.event-date-text }}
      </date>
      <div class="event-location">
        {{ page.location-text }}
      </div>
    </div>
    {% endif %}

    <div class="event-cta">
      {% if page.registration-url %}
      <a href="{{ page.registration-url }}" class="cta-register">
        Register
      </a>
      {% endif %}
      {% if page.sessions %}
      <a href="#event-sessions" class="cta-register">
        Event Agenda
      </a>
      {% endif %}
    </div>

  </header>
</section>

<section id="event-content">

  <section id="event-description">
    {{ content }}
  </section>

  {% if page.schedule-text %}
  <section id="event-schedule">
    <div class="event-schedule-wrapper">
      {{ page.schedule-text | markdownify }}
    </div>
  </section>
  {% endif %}

  {% if page.sessions[0].title != nill %}
  <section id="event-sessions">
    <h2>Event Agenda</h2>
    <ul class="sessions">
      {% for session in page.sessions %}
      <li class="session">
        <div class="session-header">
          <div class="session-time">
            {{ session.date | date: "%I:%M%P" }}
          </div>
          <div class="session-title">
            {{ session.title }}
          </div>
        </div>

        {% if session.moderators or session.speakers or session.description %}
        <div class="session-meta">
          {% if session.moderators %}
          <div class="session-moderators">
            <strong>Moderator(s):</strong> {{ session.moderators }}
          </div>
          {% endif %}
          {% if session.speakers %}
          <div class="session-speakers">
            <strong>Speaker(s):</strong> {{ session.speakers }}
          </div>
          {% endif %}
          {% if session.description %}
          <div class="session-description">
            {{ session.description | markdownify }}
          </div>
          {% endif %}
        </div>
        {% endif %}

      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if page.related-media %}
  <section id="event-media">
    <ul class="media-gallery">
    {% for media in page.related-media %}
      <li class="media-item">
        <div class="media-description">
          {{ media.description | markdownify }}
        </div>
        <a href="{{ media.image }}">
          <img src="{{ media.image }}" />
        </a>
      </li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}

</section>

<section id="speakers"></section>
