---
layout: default
---
<section id="event-description">
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {{ content }}
</section>
<section id="event-schedule">
  {{ page['schedule text'] | markdownify }}
</section>

<section id="speakers">
  <ul>
    {% assign cat = page.categories %}
    {% assign event-speakers = site.speakers | where: "categories", cat %}
    {% for speaker in event-speakers %}
      <li>
        <h1>{{ speaker.title }}</h1>
        <h2>{{ speaker['title and organization'] }}</h2>
        <img src="{{ speaker.photo }}">
      </li>
    {% endfor %}
  </ul>
</section>

<section id="speakers">
  <ul>
    {% for speaker in site.speakers %}
      {% if speaker.categories contains page.categories %}
      <li>
        <h1>{{ speaker.title }}</h1>
        <h2>{{ speaker['title and organization'] }}</h2>
        <img src="{{ speaker.photo }}">
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
