---
layout: default
---

{% if page.metrics %}
{% include icons/icons.svg %}
{% endif %}

<section class="content-block-grid">
  <header class="grid-header">
    {% if page.callout %}
    <h1 class="grid-title">
      <span>{{ page.callout}}</span>
    </h1>
    {% else %}
    <h1 class="grid-title">
      <span>{{ page.title }}</span>
    </h1>
    {% endif %}
  </header>

  <div class="grid-content-large">
    {{ content }}
  </div>

  {% if page.metrics %}
  {% for metric in page.metrics %}
  <div class="grid-content-small">

    {% case metric.icon %}

    {% when 'people' %}
    <svg viewBox="0 0 500 500" class="callout-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#people"></use>
    </svg>
    {% when 'cogs' %}
    <svg viewBox="500 0 500 500" class="callout-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cogs"></use>
    </svg>
    {% when 'speakers' %}
    <svg viewBox="1000 0 500 500" class="callout-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speakers"></use>
    </svg>
    {% when 'energy' %}
    <svg viewBox="1525 0 500 500" class="callout-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#energy"></use>
    </svg>
    {% else %}

    {% endcase %}

    <p class="callout-text">{{ metric.data }}</p>
  </div>
  {% endfor %}
  {% endif %}
</section>

{% if site.event %}
<section id="page-content" class="post-grid">

  <article class="post">
    <header>
      <h2>Events</h2>
      <p>Stay informed about what is upcoming at LESC or explore our past events.</p>
    </header>
  </article>

  {% for event in site.event limit: 3 %}
  <article class="event-archive">
    <header class="event-archive-header">
      <h2 class="event-archive-title">{{ event.title }}</h2>
      <a href="{{ event.url }}">
      <h3 class="event-archive-theme">{{ event.theme }}</h3>
      </a>
      <date class="event-archive-date">{{ event.event-date-text }}</date>
    </header>
  </article>
  {% endfor %}
</section>
{% endif %}

{% if site.posts %}
<section id="page-content" class="post-grid">

  <article class="post">
    <header>
      <h2>Resources</h2>
      <p>Stay informed about the latest news from LESC, or watch videos and download presentations from past events.</p>
    </header>
  </article>

  {% for post in site.posts limit: 5 %}
  <article class="post">
    <header>
      <a href="{{ post.url }}">
        <h2 class="post-title">{{ post.title }}</h2>
      </a>
      <time class="post-date">{{ post.date | date: "%B %-d, %Y" }}</time>
      {% if post.categories %}
      <div class="post-category">
        {% for category in post.categories %}
          {{ category }}
        {% endfor %}
      </div>
      {% endif %}
    </header>
  </article>
  {% endfor %}

</section>
{% endif %}
