---
layout: default
---

{% if page.metrics %}
{% include icons/icons.svg %}
{% endif %}

<section class="content-grid">
  <header class="content-grid-header">
    {% if page.callout %}
    <h1 class="grid-title">
      <span>{{ page.callout}}</span>
    </h1>
    {% else %}
    <h1 class="grid-title">
      <span>{{ page.title }}</span>
    </h1>
    {% endif %}
  </header>

  <div class="content-grid-content-large">
    {{ content }}
  </div>
</section>

{% if site.event %}
<section id="page-content" class="post-grid">

  <article class="post post-full-grid-width">
    <header>
      <h2>Events</h2>
      <p>Stay informed about what is upcoming at LESC or explore our past events.</p>
    </header>
  </article>

  {% assign events = site.event | sort: 'position' %}
  {% for event in events limit: 4 %}
  {% if event.is-featured == true %}
  <article class="event-archive featured-event">
  {% else %}
  <article class="event-archive">
  {% endif %}
    <header class="event-archive-header">
      <h2 class="event-archive-title">{{ event.title }}</h2>
      <a href="{{ event.url }}">
      <h3 class="event-archive-theme">{{ event.theme }}</h3>
      </a>
      <div class="event-archive-date">{{ event.event-date-text }}</div>
      {% if event.blurb %}
      <p class="event-blurb">{{ event.blurb  }}</p>
      {% endif %}
      {% if event.registration-url %}
      <a href="{{ event.registration-url }}" class="cta-register">
        Register for {{ event.title }}
      </a>
      {% endif %}
    </header>

  </article>
  {% endfor %}
  <a href="/events" class="post-archive-link">
    <svg viewBox="0 0 500 500">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#people"></use>
    </svg>
    View all Events
  </a>
</section>
{% endif %}

{% if page.metrics %}
<ul class="icon-grid">
{% for metric in page.metrics %}
  <li>
    <div class="icon-wrap">
  {% case metric.icon %}

  {% when 'people' %}
  <svg viewBox="0 0 500 500" class="callout-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#people"></use>
  </svg>
  {% when 'cogs' %}
  <svg viewBox="500 0 500 500" class="callout-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cogs"></use>
  </svg>
  {% when 'speakers' %}
  <svg viewBox="1000 0 500 500" class="callout-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speakers"></use>
  </svg>
  {% when 'energy' %}
  <svg viewBox="1525 0 500 500" class="callout-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#energy"></use>
  </svg>
  {% else %}

  {% endcase %}

  <p class="callout-text">{{ metric.data }}</p>
  </div>
  </li>
{% endfor %}
</ul>
{% endif %}

{% if site.posts %}
<section id="page-content" class="post-grid">

  <article class="post">
    <header>
      <h2>Resources</h2>
      <p>Stay informed about the latest news from LESC, or watch videos and download presentations from past events.</p>
    </header>
  </article>

  {% for post in site.posts limit: 4 %}
  <article class="post">
    <header>
      {% if post.categories %}
      <div class="post-category">
        {% for category in post.categories %}
          {{ category }}
        {% endfor %}
      </div>
      {% endif %}
      <a href="{{ post.url }}">
        <h2 class="post-title">{{ post.title }}</h2>
      </a>
      <time class="post-date">{{ post.date | date: "%B %-d, %Y" }}</time>
    </header>
  </article>
  {% endfor %}

  <a href="/news" class="post-archive-link">
    <svg viewBox="500 0 500 500">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cogs"></use>
    </svg>
    View all Resources
  </a>

</section>
{% endif %}
