---
layout: default
---

<section id="page-content" class="post-grid">
  <header class="page-header">
    <h1 class="page-title">
      {{ page.title }}</a>
    </h1>
  </header>

  {% for post in site.posts %}
  <article class="post">
    <header>
      <a href="{{ post.url }}">
        <h2 class="post-title">{{ post.title }}</h2>
      </a>
      <time class="post-date">{{ post.date | date: "%B %-d, %Y" }}</time>
      {% if post.categories %}
      <div class="post-category">
        {% for category in post.categories %}
          {{ category }}
        {% endfor %}
      </div>
      {% endif %}
    </header>
  </article>
  {% endfor %}

</section>
